/*
Form Name: Fly
Form URI: https://github.com/uxglow/rss-feed-widget/blob/master/fly/1.0/fly.css
Author: UX Glow
Author URI: http://uxglow.com/
Description: __desc__
Version: 1.0
Tags: rss feed widget, fly
*/

.rfw-class.fly *, 
.rfw-class.fly *::after, 
.rfw-class.fly *::before{
	box-sizing: border-box  !important;	
}
.rfw-class.fly .widget_dock {
	margin: 7px auto 0;	
}
.rfw-class.fly .widget_dock .bx-wrapper{
	padding: 10px;
	box-shadow: none;	
}
.rfw-class.fly .widget_dock .bx-viewport{
	padding: 10px 0;
	font-family: Arial, Helvetica, sans-serif; 	
}
.rfw-class.fly .widget_dock .bx-viewport .rfw_dock li > a {
	border-left: 5px solid #DC4537;
	background-color: #FCD000;
	width: 100%;
	float: left;
}
.rfw-class.fly .widget_dock .bx-viewport .rfw_dock h3{
	padding: 6px 8px;
	margin:0;
	line-height: 22px;
	text-align: left;
}
.rfw-class.fly .widget_dock .bx-viewport li > div.text_div {
	background-color: #4e9c99;
    color: #fff;
    float: left;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    width: 100%;	
}
.rfw-class.fly .widget_dock .bx-viewport li > div.text_div img{
	margin-bottom: 10px;	
}
.rfw-class.fly .bx-wrapper .bx-pager.bx-default-pager a{
	background-color: #FCD000;
	border: 2px solid #4E9C99;	
}
.rfw-class.fly .bx-wrapper .bx-pager.bx-default-pager a.active{
	background-color: #DC4537;
	border: 2px solid #4E9C99;
}
.rfw-class.fly .text_div > a {
  color: #fcd000;
  font-size: 16px;
  font-weight: bold;
}
.rfw-class.fly .text_div > a:hover{
	text-decoration: underline;	
}